
<!DOCTYPE html>

{% load static %}

<html lang="ru">
  <head>

  </head>
  <body>
    <header>
      <nav class="navbar navbar-light" style="background-color: lightskyblue">
      <img class="my-image" src="{% static 'img/logo.png' %}" href="{% url 'posts:main_posts' %}">
        <div class="container">
          <a class="navbar-brand" href="index.html"><span style="color:red; padding-left:1px">Ya</span>tube
          </a>
        </div>
      </nav>
    </header>
    <main>

    </main>
    <footer>
    </footer>
  </body>
</html>